/* 
POPPINS :

  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;

  -------------------------------------

LEXEND : 

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  -------------------------------------

VOLKHOV : 

 font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: normal;

  -------------------------------------

  OPEN SANS : 

     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  -------------------------------------

















*/

/* HOME */

.home {
    background-image: url(/images/Decore.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10rem; */
    /* background: #000; */
    
}


/* HEADER CONTENT */

.header-content {
    width: 85%;
    height: 90vh;
    position: relative;
    /* display: flex; */
    /* background: #000; */
    
}

.header-content div:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    /* font-style: normal; */
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--dark-orange);
    padding-bottom: 2.1rem;
}

.header-content .title {
    position: relative;
    font-size: 7.58rem;
    color: var(--dark-blue-1);
    font-weight: bold;
    font-family: "Volkhov", serif;
    width: 55rem;
    line-height: 1;
    letter-spacing: -.3rem;
    padding-bottom: 2.7rem;
    z-index: 999;
}

.header-content .title .touch-d {
    position: absolute;
    right: 55%;
    top: 3%;
    z-index: -1;
    /* transform: translate( ) */
    width: 2rem;
}

.header-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    width: 42rem;
    line-height: 2;
    color: var(--paragraph-color);
    padding-bottom: 3.4rem;
}

.header-content .btns {

    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-content .btns .findMore {
    width: 17rem;
    height: 6rem;
    border-radius: 1rem;
    border: none;
    background: var(--yellow);
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: white;
    transition: .2s;
}

.header-content .btns .findMore:hover {
    background-color: #d89402;
}

.play-btn {
    padding-top: 3.5rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.53rem;
    color: var(--gray);
    
}

.play-btn .play {
    transition: .2s;
}

.play-btn .play:hover {
    transform: scale(1.1);
}

.play-btn span {
    padding-bottom: 2.4rem;
}

.traveller {
    position: absolute;
    /* z-index: 9999; */
    right: 5%;
    top: 10%;
    /* bottom: 0; */
    /* transform: translate(0 ,-50% );  */
    /* width: 70rem; 
    height: auto; */
    /* background: #000; */
}


.airplane1 {
    position: absolute;
    top: -10%;
    right: 40%;
    z-index: 999;


}

.airplane2 {
    position: absolute;
    top: -5%;
    right: -4%;
    z-index: 999;


}



/* SECTION OFFER */
.decore-offer {
    position: absolute;
    right: 0;
    width: 12rem;
}

.offer {
    position: relative;
    width: 84%;
    height: auto;
    padding: 20rem 0;
    /* background: #000; */
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.offer .title {
    padding-bottom: 10rem;
}

.offer span {
    color: var(--paragraph-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7rem;
}

.offers .offr-p {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    height: 30rem;
    border-radius: 3.6rem;
    padding: 1rem;
    gap: 3rem;
    text-align: center;
}

.offer .offr-p .offer-icon {
    position: relative;
}

.offer .offer-1 .offer-icon::after {
    content: "";
    background: #FFF1DA;
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: -2rem;
    border-radius: 1.5rem .5rem 1.5rem .5rem;
    z-index: -1;
}

.offer .offer-2 {
    position: relative;
    background-color: white;
    box-shadow: 0 3rem .5rem .5rem rgba(186, 186, 186, 0.085);
}

.offer .offer-2::after {
    content: "";
    background: var(--dark-orange);
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: -5rem;
    left: -3rem;
    border-radius: 2rem .5rem 2rem .5rem;
    z-index: -1;
}

.offer .offer-2 .offer-icon::after {
    content: "";
    background: #FFF1DA;
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 3rem;
    right: 3.5rem;
    border-radius: .5rem 1.5rem .5rem 1.5rem;
    z-index: -1;
}

.offer .offer-3 .offer-icon::after {
    content: "";
    background: #FFF1DA;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -.5rem;
    right: -2rem;
    border-radius: .5rem 1.5rem .5rem 1.5rem;
    z-index: -1;
}

.offer .offer-4 .offer-icon::after {
    content: "";
    background: #FFF1DA;
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: -1.5rem;
    right: -2rem;
    border-radius: .5rem 1.5rem .5rem 1.5rem;
    z-index: -1;
}

.offers .offr-p h4 {
    font-size: 2rem;
    color: #1E1D4C;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.offer .offr-p p {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--paragraph-color);
    width: 70%;

}




@media (max-width: 1400px) {

    .traveller {
        position: absolute;
        /* z-index: 9999; */
        right: 5%;
        top: 10%;
        /* bottom: 0; */
        /* transform: translate(0 ,-50% );  */
        width: 70rem;
        height: auto;
        /* background: #000; */
    }

    .offers {
        /* display: flex; */
        gap: 4rem;
    }

}

@media (max-width: 1200px) {

    .traveller {
        position: absolute;
        /* z-index: 9999; */
        right: 0%;
        top: 10%;
        /* bottom: 0; */
        /* transform: translate(0 ,-50% );  */
        width: 60rem;
        height: auto;
        /* background: #000; */
    }

    .offers {
        /* display: flex; */
        gap: 2rem;
        /* background: #000; */
    }

    /* .decore-offer{
    width: 10rem;
} */
}

@media (max-width: 992px) {

    .offers {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10rem;
        /* background: #000; */
    }

    .traveller {
        position: absolute;
        /* z-index: 9999; */
        right: 0%;
        top: 19%;
        /* bottom: 0; */
        /* transform: translate(0 ,-50% );  */
        width: 45rem;
        height: auto;
        /* background: #000; */
    }
}

@media (max-width: 768px) {


    .traveller {
        display: none;
    }

    .offers {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10rem;
    }

    .header-content .title {
        position: relative;
        font-size: 6.58rem;
        color: var(--dark-blue-1);
        font-weight: bold;
        font-family: "Volkhov", serif;
        width: 50rem;
        /* background: #000; */
        line-height: 1;
        letter-spacing: -.3rem;
        padding-bottom: 2.7rem;
        z-index: 999;
    }

    .header-content .title .touch-d {
        position: absolute;
        right: 60%;
        top: 5%;
        z-index: -1;
        /* background: #000; */
    }

    .header-content .title .touch-d img {
        width: 20rem;
        height: 2rem;
    }
}

@media (max-width: 600px) {}

@media (max-width: 480px) {

    .header-content .title {
        font-size: 5rem;
        

    }

    .header-content p {
        width: 100%;
    }

    .header-content .title .touch-d {

        right: 49%;
        top: 6%;

    }

    .header-content .title {
        width: 100%;
    }
    .header-content div:nth-child(1) {
    font-size: 1.5rem;
}






}

@media (max-width: 360px) {

    .header-content .title {
        font-size: 3.58rem;
        width: 70%;
    }

    .header-content .title .touch-d {

        right: 50%;
        top: 9%;

    }

    .header-content p {
        /* background: #000; */
        width: 95%;
    }

    .header-content div:nth-child(1) {
        font-size: 1.1rem;
    }

}