.about-body{
    display: flex;
    flex-direction: column;
    gap: 15rem;
    
}
.sTit {
    color: var(--paragraph-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: .8rem;
   
}
.pepole{
 
    display: flex;
  
height: 28rem;
max-width: 90%;
}
.AllCards{
    display: flex;
    align-items: center;
    gap: 11rem;
    width: 66rem;
    height: 28rem;
         font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--paragraph-color);
}
 .container-cmnts{
    border: solid .1rem rgba(136, 136, 136, 0.064);
    box-shadow:  0 2rem 1rem .2rem rgba(0, 0, 0, 0.048);
    position: relative;
    padding: 2.8rem 0 0 3.4rem;
    width: 50rem;
    height: 24rem;
    border-radius: 1rem;
}
.AllCards .container-cmnts .profile{
    position: absolute;
    left: -3.5rem;
    top: -3.5rem;
}
 .container-cmnts p{
    font-weight: 400;
    font-size: 1.6rem;
    width: 85%;
    line-height: 32px;
    /* background: #000; */
 padding-bottom: 3.4rem;

}
.AllCards .container-cmnts div{
font-size: 1.8rem;
padding-bottom: 0.5rem;

}
.AllCards .container-cmnts  span{
font-size: 1.4rem;

}
.AllCards .btns{
    display: flex;
    flex-direction: column;
    gap: 5.7rem;
    margin-top: 4rem;
}


.pepole h2{
    margin-bottom: 8.2rem;
    width: 70%;
    /* background: #000; */
}

.points{
    display: flex;
    gap: 2.6rem;
}
.points .point:nth-child(1){
    background: #39425D;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.points .point:nth-child(2){
    background: #E5E5E5;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}.points .point:nth-child(3){
    background: #E5E5E5;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* section */
.about-offer-mission{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    /* background: #0000002f; */
    width: 60%;
max-width: 100%;
    gap: 5rem;
  
}
.tom{
        border: solid .1rem rgba(136, 136, 136, 0.064);
    box-shadow:  0 2rem 1rem .2rem rgba(0, 0, 0, 0.048);
    /* position: relative; */
    padding: 2.8rem 0 0 3.4rem;
    width: 50rem;
    height: auto;
    border-radius: 1rem;
      color: var(--dark-blue);
          max-width: 95%;
}
.tom p{
    font-weight: 400;
    font-size: 1.6rem;
    width: 85%;
    line-height: 32px;
    /* background: #000; */
 padding-bottom: 3.4rem;

}
.tom h4{
    font-size: 1.8rem;
padding-bottom: 0.5rem;
display: flex;
align-items: center;
gap: .5rem;
font-weight: 500;
}

.tom:nth-child(2){
    /* background: #000; */
    align-self: flex-end;
}

/* brands */


.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 60%;
    overflow-x: auto;
    gap: 6rem;
}

.brand{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  animation: spin 5s infinite linear;
}
.brands::-webkit-scrollbar{
    display: none;
}
@keyframes spin {
    from{translate: 0 ;}
    to{translate: 100%;}
}
.brand img{
  filter: grayscale(100%);
  flex: 0 0 5rem;
}


@media (max-width: 1400px){

    .pepole{
        gap: 5rem;
    }
    
}
@media (max-width: 1200px){
    
    
    .sTit{
        font-size:1.5rem ;
    }
    .pepole h2{
        
        width: 100%;
        font-size:3rem ;
    }
    
}
@media (max-width: 992px){
    .sTit{
        font-size:1.8rem ;
    }
      .pepole h2{
        
        width: 100%;
        font-size:5rem ;
    }

    .pepole{
        gap: 15rem;
        flex-direction: column;
        align-items: center;
  height: auto;
}


}
@media (max-width: 768px){
    
    .about-offer-mission{
        align-items: center;
        /* background: #000; */
    }
    
    .AllCards{
        gap: 1rem;
        justify-content: center;
    }
    
    .tom:nth-child(2){
            
        align-self: center;
        
    }
    .about-offer-mission{
    /* background: #000; */

align-items: center;

/* background: #0000002f; */
width: 100%;

gap: 5rem;

}

 .container-cmnts{

    width: 40rem;

    padding-bottom: 2rem;
   
}


}
@media (max-width: 600px){
    
    

}
@media (max-width: 480px){
    .about-body{
        /* background: #000; */
    }
     .container-cmnts{

    width: 30rem;
height: auto;
    padding: 4rem;
   
}
.AllCards .container-cmnts .profile{
    position: absolute;
    left: -3.5rem;
    top: -3.5rem;
}
}
@media (max-width: 360px){

}